.modal_container {
    background: #000000;
    position: absolute;
    margin-right: 2rem;
    right: 0;
    bottom: 0;
    height: 682px;
    width: 50%;
    transition: opacity 0.7s ease-in-out 0.7s;
}

.modal_container.active {
    opacity: 1; /* When the modal is active, set the opacity to 1 to make it visible */
  }


.form_wrapper {
    padding: 2rem;
    border-radius: 13px;
    color: #ffffff;

}

.btn-primary {
    background: #350bde;
}
.btn_wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 2em;
    padding-top: 1rem;
    padding-right: 1rem;
}
.btn_down {
    color: #ffffff;
}


.btn {
    background-color: #350bde;
}

textarea.form-control {
    height: 176px;
}

