.home_container {
    flex:1;
    padding-top: 100px;
    overflow-anchor: none;
    position: fixed;
    width: 100%;
  }

  /* UniverseCluster.module.css */

  /* Star class for individual stars */
  .star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: twinkle 2s infinite;
  }

  /* Define the keyframes for the star animation */
  @keyframes twinkle {
    0%, 100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
    50% {
      opacity: 0;
      transform: translateY(-20px) rotate(360deg);
    }
  }

  /* UniverseCluster.module.css */

  .starCluster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6) 1%, rgba(0, 0, 0, 0.3) 100%);
    background-size: 200% 100%; /* Adjust background size to control star density */
    animation: travel 10s linear infinite;
  }

  @keyframes travel {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 0; /* Stars move from right to left */
    }
  }

  /* Add stars to the cluster */
  .starCluster .star:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: 0s;
  }

  .starCluster .star:nth-child(2) {
    top: 50%;
    left: 40%;
    animation-delay: 1s;
  }

  .starCluster .star:nth-child(3) {
    top: 70%;
    left: 80%;
    animation-delay: 2s;
  }

  .starCluster .star:nth-child(4) {
    top: 30%;
    left: 70%;
    animation-delay: 0.5s;
  }

  /* Add more stars */
  .starCluster .star:nth-child(5) {
    top: 60%;
    left: 20%;
    animation-delay: 1.5s;
  }

  .starCluster .star:nth-child(6) {
    top: 40%;
    left: 60%;
    animation-delay: 2.5s;
  }

  /* Add even more stars as needed */

  /* Additional styles for the home container if needed */
  .homeContainer {
    flex: 1;
    padding-top: 100px;
    overflow-anchor: none;
    position: fixed;
  }


  .section {
    display:flex;
    position: relative;
    overflow: hidden;
    margin-left: 10rem;
    padding-top: 10rem;
  }

  .section,
  .section_techstack {
    height: 100vh;
  }

  .section_techstack {
    height: auto;
  }

  .download_pdf {
    display:flex;
    justify-content:flex-end;
    width: 100%;
  }
  .download_pdf_heading {
    font-size: 1.5rem;
    color: #000000;
    font-family: "Jost";
  }
  .col_text {
    flex-basis: max-content;
    flex-shrink: 1;
    padding: 1rem;
  }

  .col_img {
    flex:1;
  }

  .home_title {

    font-size: 3.25rem;
  }


  .purple_btn {
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    background: #350bde;
    margin-top: 1rem;
    color: #ffff;
    border: none;
    width: 207px;
    height: 50px;
    border-radius: 11px;
  }

  .btn_wrapper_hero {
    display: flex;
    flex-direction: row;
  }

  .btn_p {
    display: inline-block;
    margin-bottom: 0;
    margin-right:1rem;

  }

  .btn_p:hover {
    display: inline-block;
    margin-bottom: 0;
    transition: 0.5s;
    margin-left:0.5rem;

  }

  .social_btn_wrapper_hero {
    display: none;
  /*
    display: flex;
    justify-content: center;
    align-items: self-end;*/
  }

  .social_logos_hero {
    width: 51px;
    height: auto;
    padding-left: 10px;
    padding-right: -4px;
  }

  .purple_btn:hover {
    cursor: pointer;
    background: #000;
    border: 0.5px solid black;
    border-color: #ffffff;
    transition: 0.5s;
    width: 235px;
  }

  .section_techstack {
    background: #f3f3f3;
    padding-left: 10rem;
    padding-right: 25%;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .social_btn_wrapper {
    margin-left: 2rem;
    margin-right: 10rem;
  }

  .austronaut_wrapper {
    width: 100%;
    display: flex;
    height: 66%;
    align-items: flex-end;
    justify-content: center;
  }

  .me {
    position: absolute;
    right: 0;
    bottom: 204px;
    z-index: 0;
    width: 50%;
    height: auto;
    filter: grayscale(100%) brightness(91%) contrast(122%);
    animation: subtleMove 10s alternate infinite;
    opacity: 0.8;
    display: none;
  }

  /* styles/Menu.module.css */
  .menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .menuBox {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    position: relative;
  }

  .menu {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(30deg);
    transition: transform 0.5s;
    box-shadow:
      0 0 20px rgba(0, 0, 0, 0.1), /* Base shadow */
      0 0 20px rgba(0, 0, 0, 0.1) inset; /* Inset shadow for depth */
  }

  .menu:hover {
    transform: rotateX(0deg) rotateY(0deg);
  }

  .menuItem {
    width: 100%;
    height: 50%;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow:
      0 0 20px rgba(0, 0, 0, 0.1), /* Base shadow */
      0 0 20px rgba(0, 0, 0, 0.1) inset; /* Inset shadow for depth */
    transition: transform 0.5s;
  }

  .menuItem:nth-child(2) {
    top: 50%;
    transform-origin: top;
    transform: rotateX(-180deg);
  }

  .menuItem:hover {
    transform: scale(1.1);
  }

  @keyframes rocketAnimation {
    0% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(-10px) translateX(50px); /* Adjust for the upward and diagonal movement */
    }
    50% {
      transform: translateY(-10px) translateX(px); /* Higher point of the movement */
    }
    75% {
      transform: translateY(0px) translateX(50px); /* Return to the initial diagonal position */
    }
    100% {
      transform: translateY(0) translateX(0);
    }
  }

  .austronaut_img  {
    width: 211px;
    height: auto;
    animation: rocketAnimation 6s ease-in-out infinite; /* Adjust the duration and timing function */
  }

  @keyframes subtleMove {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* Adjust the amount of movement as needed */
    }
    100% {
      transform: translateY(0);
    }
  }


  .home_title, .p_home {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }



  /* Universe.css */


  /* break points */

  @media screen and (max-width: 900px) {
    .section,
    .section_techstack {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 2rem 2rem;
      margin-left: 0rem;
      margin-right: 0rem;
      padding-top: 0;
      height: auto;
    }

    .home_container {
      padding-top: 100px;
    }

    .austronaut_wrapper {
      height: 0px;
    }

    .table_data {
      padding-right: 64px;
    }

    .p_home {
      font-size: 1rem;
      margin-top: 0rem;
    }

    .purple_btn {
      font-family: "Jost";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
      text-align: center;
      background: #350bde;
      border-radius: 11px;
      margin-top: 1rem;
      color: #ffff;
      border: none;
      width: 213px;
      height: 50px;
      margin-bottom: 3rem;
    }

  .home_title {
      font-size: 1.75rem;

  }

    .btn_wrapper_hero {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
    }

  .austronaut_img  {
    display: none;
  }

  }

  @media screen and (max-width: 900px) {
    .table_data {
      padding-right: 1rem;
    }

  }
  @media screen and (max-width: 1128px) {
    .col_img {
      display:none;
    }

    .me {
      display: none;
    }
  }
