/* Post.module.css */

/* Styles for the post container */
.postContainer {
    height: 100vw;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Styles for the post title */
  .postTitle {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* Styles for the post content */
  .postContent {
    font-size: 16px;
    line-height: 1.5;
  }

  /* Styles for the post image */
  .postImage {
    max-width: 50%;
    height: 50%;
    margin-top: 10px;
  }
