/* Post.module.css */

.postContainer {
  min-height: 200px; /* Set a minimum height as needed */
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

}

.textWrapper {
  margin-top: 5rem;
}

.postTitle {
  color: #000000;
  margin-bottom: 10px;
}

/* styles.module.css */
.postContentWrapper {
  display: flex;
  height: 500px;
}

.postContent {
  flex: 1; /* Takes up 50% of the width */
  padding: 0 10px; /* Add padding if needed */
}

.postContentP {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 6rem;
  color: #747474;
}

.postImgWrapper {
  flex: 1; /* Takes up 50% of the width */
}

.postImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}


@media (max-width: 900px) {

  .postContentWrapper {
    flex-direction: column; /* Stack items in a column */
    height: auto; /* Adjust the height as needed */
  }

  .postContent,
  .postImgWrapper {
    flex: 100%; /* Take up 100% of the width, stacking on top of each other */
  }
}
